{{ define "main" }}
<article class="mb-16 max-w-5xl mx-auto px-4">
    <h1 class="text-5xl mb-6">{{ .Title }}</h1>

    {{ if .Params.thumbnail }}
    <img class="post-thumbnail" src="{{ .Params.thumbnail | relURL }}" alt="Thumbnail image" />
    {{ end }}
    <ul>
        {{ range .Site.Taxonomies.series.golang }}
        <li><a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a></li>
        {{ end }}
    </ul>
    <div class="post-footer mb-6">
        <div class="info">
            {{ with .Page.Params.Categories }}
            {{ partial "taxonomy/categories.html" . }}

            {{ end }}

            {{ with .Page.Params.Tags }}
            {{ partial "taxonomy/tags.html" . }}

            {{ end }}
        </div>
    </div>
    <div class="post-footer">
    </div>
    <h2 class="text-xl">目录</h2>
    <aside class="content-aside-bar border-2 mb-4 mt-4">
        {{ .TableOfContents }}
    </aside>
    <div class="prose lg:prose-lg  prose-blue dark:prose-dark">
        {{ .Content }}
    </div>

    <h1 class="text-xl my-12">留下你的脚印 👣 </h1>

    {{ partial "Utterances.html" . }}

</article>
{{ end }}
