{{ define "main" }}
<article class="mb-16 max-w-5xl mx-auto px-4">
    <h1>{{ .Title }}</h1>
    {{ if .Params.thumbnail }}
    <img class="post-thumbnail" src="{{ .Params.thumbnail | relURL }}" alt="Thumbnail image" />
    {{ end }}
    <ul>
        {{ range .Site.Taxonomies.series.golang }}
        <li><a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a></li>
        {{ end }}
    </ul>
    <div class="post-footer">
        <div class="info">
            {{ with .Page.Params.Categories }}
            {{ partial "taxonomy/categories.html" . }}

            {{ end }}

            {{ with .Page.Params.Tags }}
            {{ partial "taxonomy/tags.html" . }}

            {{ end }}
        </div>
    </div>
    <div class="post-footer">
    </div>
    <aside class="content-aside-bar">
        {{ .TableOfContents }}
    </aside>
    <div class="prose lg:prose-lg  prose-blue dark:prose-dark">
        {{ .Content }}
    </div>
</article>
{{ end }}
