/* Tailwind base - put variables under: tailwind.config.js */
@import "node_modules/tailwindcss/base";
/* Tailwind component classes registered by plugins*/
@import "node_modules/tailwindcss/components";
/* Site Specific */
@import "assets/css/site";
/* Tailwind's utility classes - generated based on config file */
@import "node_modules/tailwindcss/utilities";


.link-style {
    color: #0969DA;
    cursor: pointer;
}

.github-gallery {
    border: 1px solid #d0d7de;
    padding: 8px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

.description {
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
}

.opt-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.github-page-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.github-page {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.github-page img {
    margin-right: 20px;
}

.github-page-info {
    margin-left: 20%;
}

.content-aside-bar {
    padding: 12px 0 20px 12px;
    left: 20px;
    overflow-y: auto;
    max-height: 150px;
    margin-bottom: 20px;
}

.content-aside-bar li ul {
    margin-left: 12px;
}

.prose {
    max-width: 100%;
}

.info-dark a.category {
    /*color: #AAA;*/
}

.info a.category {
    display: inline-block;
    font-weight: 300;
    font-size: 0.875rem;
    /*color: #444;*/
    text-decoration: none;
}

.info a.tag {
    font-weight: 300;
    /*color: #333;*/
    display: inline-block;
    font-size: 0.875rem;
    text-decoration: none;
}

.info .category {
    padding: 4px 6px;
    border-radius: 3px;
    background-color: rgba(239, 227, 160, 0.5);
}

.tag::before {
    content: '#';
    opacity: 0.5;
}

.tag,
.category {
    display: inline-block;
    line-height: 1;
    margin: 5px 8px 5px 0;
}

.light-highLight {
    color: #b5b5b5;
    padding: 3px 10px;
    background-color: #222323;
    border-radius: 5px;
    letter-spacing: 5px
}

.search {
    position: relative;
}
.search input{
    border: 1px solid #666;
    padding: 0 8px;
    margin: -5px 5px 0;

}

.search_result {
    position: absolute;
    background: #4b5563;
    margin: 5px 0 0 20px;
    width: 200px;
}

.search_result li {
    padding: 3px 8px;


}
