<section class="grid grid-cols-2 md:grid-cols-3 gap-4 my-8 max-w-5xl mx-auto " style="">
    {{ $username := .Site.Params.homepage.github.username }}
    {{ range $index, $val :=.Site.Params.homepage.github.repos }}

    {{ $urlPre := "https://api.github.com" }}

    {{ $data := getJSON "https://api.github.com/repos/" $username "/" $val (dict "Accept"
    "application/vnd.github.v3+json") }}

    {{ $gistJ := getJSON $urlPre "/users/" $username "/gists" }}

    <div class="text-gray-500 github-gallery">

        <div class="text-gray-500">
            <h1 style="display: flex;align-items: center;">
                <svg caria-hidden="true" viewBox="0 0 16 16" version="1.1" data-view-component="true" height="16"
                     width="16" class="octicon octicon-repo mr-2 color-text-secondary flex-shrink-0">
                    <path fill-rule="evenodd"
                          d="M2 2.5A2.5 2.5 0 014.5 0h8.75a.75.75 0 01.75.75v12.5a.75.75 0 01-.75.75h-2.5a.75.75 0 110-1.5h1.75v-2h-8a1 1 0 00-.714 1.7.75.75 0 01-1.072 1.05A2.495 2.495 0 012 11.5v-9zm10.5-1V9h-8c-.356 0-.694.074-1 .208V2.5a1 1 0 011-1h8zM5 12.25v3.25a.25.25 0 00.4.2l1.45-1.087a.25.25 0 01.3 0L8.6 15.7a.25.25 0 00.4-.2v-3.25a.25.25 0 00-.25-.25h-3.5a.25.25 0 00-.25.25z"></path>
                </svg>
                <a class="py-2 link-style "
                   href="https://github.com/{{ $username }}/{{ $val }}"
                   target="_blank"
                   rel="noopener noreferrer"
                   href="">{{ $val }}</a>
            </h1>

            <p class="py-2 description"> 
                {{$data.description}}
                {{$data.html_url}}
            工作经历
Sr. UX Designer

Jan 2016 - Oct 2019

Google
Product Engineer
工作经历
Sr. UX Designer

Jan 2016 - Oct 2019

Google
Product Engineer

Nov 2019 - Apr 2021

Skills
前端工程师
Courses
Design Principles
by UX Academy

Nov 2019 - Jan 2020
Nov 2019 - Apr 2021

Skills
前端工程师
Courses
Design Principles
by UX Academy

Nov 2019 - Jan 2020
            上次更新：{{ $data.updated_at}}</p>

        </div>

        <div class="opt-btns">
        <p class="py-2 "> {{ $data.language }}</p>
            <a
                    class="px-6 py-2 rounded-full bg-black text-white"
                    href="https://github.com/{{ $username }}/{{ $val }}"
                    target="_blank"
                    rel="noopener noreferrer"
            >View in Github</a>
        </div>

    </div>

    </div>

    {{ end }}
</section>
