<section class="max-w-5xl mx-auto">
    {{ $username := .Site.Params.githubUsername }}
    {{ $urlPre := "https://api.github.com" }}
    {{ $partial := getJSON $urlPre "/users/" $username }}
    <div class="github-page-container">
        <div class="github-page">
            <img src="{{ $partial.avatar_url }}" width="80" height="80"
                 style="border-radius: 40px;border: 2px solid #d0d7de; " alt="avatar">
            <div>
                <div class="text-3xl"> {{$partial.name}}</div>
                <div class="text-2xl text-gray-400"> {{$username}}</div>
            </div>
        </div>

        <div class="github-page-info">
            <div class="text-gray-600" style="margin: 10px 0"> {{$partial.bio}}</div>
            <div class="text-gray-600" style="display: flex;flex-direction: row;align-items: center">
                <svg aria-hidden="true" viewBox="0 0 16 16" version="1.1" data-view-component="true" height="16"
                     width="16" class="octicon octicon-link">
                    <path fill-rule="evenodd"
                          d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"></path>
                </svg>
                <span style="margin-left: 5px">{{$partial.blog}}</span>
            </div>
            <div class="text-gray-600" style="display: flex;flex-direction: row;align-items: center">
                <svg class="octicon octicon-location" viewBox="0 0 16 16" version="1.1" width="16" height="36"
                     aria-hidden="true">
                    <path fill-rule="evenodd"
                          d="M11.536 3.464a5 5 0 010 7.072L8 14.07l-3.536-3.535a5 5 0 117.072-7.072v.001zm1.06 8.132a6.5 6.5 0 10-9.192 0l3.535 3.536a1.5 1.5 0 002.122 0l3.535-3.536zM8 9a2 2 0 100-4 2 2 0 000 4z"></path>
                </svg>
                <span style="margin-left: 5px">{{$partial.location}}</span>
            </div>
        </div>
    </div>

</section>
